# Git
.git
.gitignore

# GitHub
.github/

# Docker
Dockerfile
.dockerignore

# Build
*.exe
*.exe~
*.dll
*.so
*.dylib
/go-web-server

# Temporary files
*.tmp
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db